<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.h">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@drawable/hpd_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hpd_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainTumorPrediction">
        <activity android:name="com.example.h.ForgotActivity" />
        <activity android:name="com.example.h.BreastBenign" />
        <activity android:name="com.example.h.BreastMalignant" />
        <activity android:name="com.example.h.BreastCancerMammoActivity" />
        <activity android:name="com.example.h.BreastCancerModeSelect" />
        <activity android:name="com.example.h.HeartAttackPredictionActivity" />
        <activity
            android:name="com.example.h.CalculatorSelectActivity"
            android:theme="@style/CovidPreventionTheme" />
        <activity
            android:name="com.example.h.Login.DiseasesActivity"
            android:exported="true"
            android:theme="@style/CovidPreventionTheme" />
        <activity
            android:name="com.example.h.Login.LoginActivity"
            android:theme="@style/CovidPreventionTheme" />
        <activity
            android:name="com.example.h.Login.RegistrationActivity"
            android:theme="@style/CovidPreventionTheme" />
        <activity
            android:name="com.example.h.CountryDetailsActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.h.AffectedCountriesActivity" />
        <activity android:name="com.example.h.Covid19Activity" />
        <activity android:name="com.example.h.Medi_Consult.DiseaseActivity" />
        <activity android:name="com.example.h.Medi_Consult.SymptomsActivity" />
        <activity android:name="com.example.h.Medi_Consult.SOSCall" />
        <activity android:name="com.example.h.Medi_Consult.DiseaseChecker" />
        <activity
            android:name="com.example.h.Medi_Consult.MediConsult"
            android:theme="@style/CovidPreventionTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key" />

        <activity
            android:name="com.example.h.Login.VerificationActivity"
            android:theme="@style/CovidPreventionTheme" />
        <activity
            android:name="com.example.h.Login.PhoneLogin"
            android:theme="@style/CovidPreventionTheme" />
        <activity android:name="com.example.h.LungCancer.Malignant" />
        <activity android:name="com.example.h.Skin.Vascular" />
        <activity android:name="com.example.h.Skin.Squamous" />
        <activity android:name="com.example.h.Skin.Seborrheic" />
        <activity android:name="com.example.h.Skin.Pigmented" />
        <activity android:name="com.example.h.Skin.Nevus" />
        <activity android:name="com.example.h.Skin.Melanoma" />
        <activity android:name="com.example.h.Skin.Dermatofibroma" />
        <activity android:name="com.example.h.Skin.Basal" />
        <activity android:name="com.example.h.Skin.Actinic" />
        <activity android:name="com.example.h.LungCancer.Bengin" />
        <activity android:name="com.example.h.calculator.HeartRate.Heart_Rate_Chart" />
        <activity android:name="com.example.h.calculator.HeartRate.Heart_Rate_Result" />
        <activity android:name="com.example.h.calculator.Chelosterol.Cholestrol_Result" />
        <activity android:name="com.example.h.calculator.Water.Daily_WaterIntake_Result" />
        <activity android:name="com.example.h.calculator.Calorie.Daily_Calories_Intake_Chart" />
        <activity android:name="com.example.h.calculator.Calorie.Daily_Calories_Intake_Result" />
        <activity android:name="com.example.h.calculator.Calorie.Calories_Burn_Chart" />
        <activity android:name="com.example.h.calculator.Calorie.Calories_Burn_Result" />
        <activity android:name="com.example.h.calculator.BodyFat.Body_Fat_Chart" />
        <activity android:name="com.example.h.calculator.BodyFat.Bodyfat_Result" />
        <activity android:name="com.example.h.calculator.BloodVolume.BloodVolume_Result" />
        <activity android:name="com.example.h.calculator.BP.Bloodpressure_Chart" />
        <activity android:name="com.example.h.calculator.BP.BloodPressure_Result" />
        <activity android:name="com.example.h.calculator.BMI.BMI_Chart" />
        <activity android:name="com.example.h.calculator.BMI.BMI_Result" />
        <activity android:name="com.example.h.calculator.HeartRate.HeartRateActivity" />
        <activity android:name="com.example.h.calculator.Chelosterol.CHActivity" />
        <activity android:name="com.example.h.calculator.Water.WaterIntakeActivity" />
        <activity android:name="com.example.h.calculator.Calorie.CalorieIntakeActivity" />
        <activity android:name="com.example.h.calculator.Calorie.CalorieBurnActivity" />
        <activity android:name="com.example.h.calculator.BodyFat.BodyFatActivity" />
        <activity android:name="com.example.h.calculator.BloodVolume.BVActivity" />
        <activity android:name="com.example.h.calculator.BP.BPActivity" />
        <activity android:name="com.example.h.calculator.BMI.BMIActivity" />
        <activity android:name="com.example.h.calculator.BMR.BMR_Result" />
        <activity android:name="com.example.h.calculator.BMR.BMRActivity" />
        <activity
            android:name="com.example.h.BreastCancerActivity"
            android:theme="@style/CovidPreventionTheme" />
        <activity
            android:name="com.example.h.LungCancerActivity"
            android:theme="@style/BlueTheme" />
        <activity
            android:name="com.example.h.CovidPrevention"
            android:theme="@style/CovidPreventionTheme" />
        <activity android:name="com.example.h.CovidTreatment" />
        <activity android:name="com.example.h.SelectActivity" />
        <activity android:name="com.example.h.Medi_Consult.departmentchecker" />
        <activity android:name="com.example.h.Medi_Consult.DepartmentActivity" />
        <activity android:name="com.example.h.Medi_Consult.DepartmentOutputActivity" />
        <activity
            android:name="com.example.h.CovidActivity"
            android:theme="@style/CovidTheme" />
        <activity
            android:name="com.example.h.SplashActivity"
            android:theme="@style/TreatmentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.h.PreventionActivity" />
        <activity
            android:name="com.example.h.TreatmentActivity"
            android:theme="@style/TreatmentTheme" />
        <activity
            android:name="com.example.h.MainActivity"
            android:exported="true"
            android:theme="@style/CovidTheme">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>